<div class="playlist">
  <div *ngFor="let names of playlists; index as i">
    <button *ngIf="i != clickedPlayslist" (click)="onSelectPlaylist(i)" class="playlistNames pa1">{{names}}</button>
    <div *ngIf="i == clickedPlayslist">
      <button class="controlButton pa1" (click)="playList()"><i class="ri-play-circle-fill"></i></button>
      <button class="controlButton pa1" (click)="pauseList()"><i class="ri-pause-circle-fill"></i></button>
      <button class="controlButton pa1" (click)="stopList()"><i class="ri-stop-circle-fill"></i></button>
      <button class="controlButton pa1" (click)="shuffleList()"><i class="ri-shuffle-line"></i></button>
      <button class="controlButton pa1" (click)="repeatList()"><i class="ri-refresh-line"></i></button>
      <button class="controlButton pa1" (click)="showList()"><i class="ri-play-list-fill"></i></button>
      
    </div>
  </div>
</div>

<!-- <div *ngIf="currentPlaylist.length > 0">
  <div *ngFor="let song of currentPlaylist" class="songs">
    <p class="songsNames">{{song.name}}</p>
    <audio>
      <source src="{{song.url}}">
    </audio>
  </div>
</div> -->

<!-- <i class="ri-home-heart-fill"></i>
<i class="ri-send-plane-fill"></i>
<i class="ri-github-fill"></i>
<i class="ri-volume-down-fill"></i>
<i class="ri-volume-mute-fill"></i>
<i class="ri-volume-up-fill"></i>
<i class="ri-play-circle-line"></i>
<i class="ri-pause-circle-line"></i>
<i class="ri-stop-circle-line"></i>
<i class="ri-play-circle-fill"></i>
<i class="ri-download-cloud-line"></i>
<i class="ri-download-cloud-2-line"></i>
<i class="ri-download-cloud-fill"></i>
<i class="ri-refresh-line"></i>
<i class="ri-user-star-line"></i>
<i class="ri-user-heart-line"></i>
<i class="ri-open-arm-line"></i> -->


<!-- background: #C6FFDD;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #f7797d, #FBD786, #C6FFDD);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #f7797d, #FBD786, #C6FFDD); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
 -->

<!--  background: #f12711;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #f5af19, #f12711);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #f5af19, #f12711); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
 -->

<!--  background: #FF416C;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #FF4B2B, #FF416C);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #FF4B2B, #FF416C); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
 -->

<!--  background: #a8ff78;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #78ffd6, #a8ff78);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #78ffd6, #a8ff78); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
 -->

<!--  background: #9796f0
 background: -webkit-linear-gradient(to right, #fbc7d4, #9796f0)
 background: linear-gradient(to right, #fbc7d4, #9796f0) -->