.songsNames
  font-family: 'Major Mono Display', monospace
  font-weight: bold
  font-size: small

.playlistNames
  font-family: 'Sen', sans-serif

.playlistNames:hover
  font-size: larger
  font-variant-caps: small-caps
  font-weight: bold
  
.pa1
  padding: 1rem

.controlButton
  font-size: x-large
  color: teal

button
  border: none
  background: none

.songs
  border: 1px solid 
  margin: 0.2rem
  width: 50%
  text-align: center

.playlist
  width: 20rem
  border-radius: 8px
  border-color: darkgray
  display: flex
  flex-direction: column
  background: #a8ff78
  background:  -webkit-linear-gradient(to right, #78ffd6, #a8ff78)
  background: linear-gradient(to right, #78ffd6, #a8ff78)
  align-items: center


