.songsNames
  font-family: 'Major Mono Display', monospace
  font-weight: bold
  font-size: small

.playlistNames
  font-family: 'Sen', sans-serif

.pa1
  padding: 1rem

button
  border: none
  background: none

.songs
  border: 1px solid 
  margin: 0.2rem
  width: 50%
  text-align: center

.playlist
  width: 50%